body {
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background:white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background: #e6e6e6;
  padding: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

li button {
  background: red;
  color: white;
  border: none;
  border-radius: 4px;
}
